.aboutUs {
  background: #eef0e4;
  color: #2f2e2e;
  font-size: 16px;
  width: 100vw;
  margin: 0;
  padding: 0;
  padding-bottom: 64px;
  text-align: center;
  /* flex container element */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* added to suspense horizontal scrolling */
  max-width: 100%;
}

.aboutUsHeading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 24px;
}

.aboutUsText {
  max-width: 75vw;
}

.aboutUsText p {
  margin: 0;
  padding: 0;
}
