.slideshowContainer {
  z-index: 100;
  width: 100vw;
  height: calc(70vh + 86px);
  margin: 0;
  /* flex container element */
  display: flex;
  justify-content: center;
  align-content: center;
  /* added to suspense horizontal scrolling */
  max-width: 100%;
}

.slide {
  margin: 0;
  padding: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  image-orientation: from-image; /* work in mozzila firefox */
}

.sideSlide {
  margin-right: -80%;
  opacity: 0.5;
}
