.slideshowContainer {
  z-index: 100;
  width: 100vw;
  height: calc(70vh + 86px);
  margin: 0;
  /* flex container element */
  display: flex;
  justify-content: center;
  align-content: center;
  /* added to suspense horizontal scrolling */
  max-width: 100%;
}

.mySlides {
  margin: 0;
  padding: 0;
  display: none;
}

.mySlides img {
  height: 100%;
  width: 100%;
}
