.partners {
  background-color: #fff;
  width: 100vw;
  margin: 64px 0;
  max-width: 100%;
}

.partnersHeading {
  width: 100vw;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #2f2e2e;
  max-width: 100%;
  user-select: none;
}

.partnersLogos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: end;
  grid-row-gap: 32px;
  max-width: 100%;
}

.partnersLogos a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.partners img {
  height: 90px;
  width: 135px;
}

@media (max-width: 1050px) {
  .partnersLogos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .spanImg {
    grid-column-end: span 2;
  }
}

@media (max-width: 660px) {
  .partnersLogos {
    grid-template-columns: 1fr 1fr;
  }

  .spanImg {
    grid-column-end: span 1;
  }
}
