.toggleButton {
  display: inline-block;
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  margin-left: 16px;
  /*margin-right: calc(100vw - 220px);*/
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonBar {
  width: 100%;
  height: 0.1rem;
  background: #2f2e2e;
  display: block;
  margin: 0.6rem 0;
}

@media (min-width: 1000px) {
  .toggleButton {
    display: none;
  }
}
